<nav>
  <img src="../../assets/img/logo.png" alt="logo site">
  <input
    type="text"
    #inputSearch
    class="form-control"
    (keyup)="search(inputSearch)"
  >

  <ul class="menuChoix">
    <div *ngFor="let movie of searchMovies" class="list-movie">
      <a routerLink="../detail/{{movie.idMovie}}" (blur)="selectInput()">
      <li class="choix" >
        {{movie.nameMovie}}
      </li>
      </a>
    </div>
  </ul>

  <a class="login" routerLink="movies">Login</a>
  <a class="login" routerLink="admin">Admin</a>
  <ul class="menu">
    <li>
      <a routerLink="home">Accueil</a>
    </li>
    <li>
      <a routerLink="movies">Liste film</a>
    </li>
    <li>
      <a routerLink="top100">Top 100</a>
    </li>
  </ul>
</nav>
