/*css all header*/
nav{
  background-color: #3a424c;
  display: block;
  width: 100%;
  margin-bottom: -16px;

}
/*css menu*/
.menu{
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: center;
  width: 100%;
}
/*css image*/
img{
  padding: 5px;
  width: 50px;
  float: left;
}
/*css manu login*/
.menuA{
  display:block;
  min-width: 120px;
  padding: 0.4rem 0;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
/*css hover menu*/
.menuA:hover, .menuA:focus{

  background-color: #00c1b8;
}

/*css login*/
.login{
  display:block;
  padding: 0.4rem;
  text-align: right;
  color: white;
  text-decoration: none;
  float: right;
  transition: all 0.5s ease-out;
}
/*css hover login*/
.login:hover{
  background-color: #00c1b8;
}
/*css input*/
input{
  width: 500px;
  padding: 5px;
  margin-top: 15px;
  margin-left: 50px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 4px;
}
/*css choice*/
.menuChoix{
  margin-left: 100px;
  list-style:none;
  text-decoration: none;
  color: black;
  position: absolute;
  z-index: 1;
  display:block;
}
/*css choice*/
.choix{
  background-color: white;
  width: 40%;
  border: 1px solid black;
  padding: 15px;
  list-style:none;
  width: 400px;
}
/*css choice hover*/
.choix:hover{
  background-color:  #00c1b8;
}

.menuChoix a{
  text-decoration: none;
  color: black;

}
/*css notification*/
.not{
  width: 15px;
}
