<nav>
  <img src="../../assets/img/logo.png" alt="logo site">
  <input
    type="text"
    id="tempo"
    #inputSearch
    class="form-control"
    (keyup)="search(inputSearch)"
    (blur)="selectInput()"
  >

  <ul class="menuChoix">
    <div *ngFor="let movie of searchMovies" class="list-movie" >
      <a routerLink="../detail/{{movie.idMovie}}">
      <li class="choix">
        {{movie.nameMovie}}
      </li>
      </a>
    </div>
  </ul>

  <a class="login" routerLink="registerhub">Login</a>
  <a class="login" routerLink="admin">Admin</a>
  <a class="login" routerLink="favorie">Mes favories</a>
  <a class="login" routerLink="notification"><img src="../../assets/img/not.png" alt="logo site" class="not"> <span>{{actus.length}}</span> </a>

  <ul class="menu">
    <li>
      <a routerLink="home" class="menuA">Accueil</a>
    </li>
    <li>
      <a routerLink="movies" class="menuA">Liste film</a>
    </li>
    <li>
      <a routerLink="top100" class="menuA">Top 100</a>
    </li>
    <li>
      <a routerLink="bad100" class="menuA">Bad 100</a>
    </li>
  </ul>
</nav>
