@import '~swiper/swiper.min.css';
@import '~swiper/modules/navigation/navigation.min.css';
@import '~swiper/modules/pagination/pagination.min.css';

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ratingSpan{
  float: right;
  margin-right: 10px;
}

img{
  width: 240px;
}

li{
  width: 250px;
}

.name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 75%;
  display:inline-block;
}
.main_div{
  background-color: #ebebeb;
  flex-wrap: wrap;
  max-width: 1100px;
  width: 100%;
  justify-content: center;
  margin: auto;
  border: black solid 4px;
}
h2{
  text-align: center;
}

.ulMenu{
  margin-left: 80px;
  padding-top: 10px;
  overflow-x: scroll;
  display: -webkit-box;
  flex-wrap: inherit ;
  width: 85%;
  list-style: none;
  scrollbar-color: blank grise;
  scrollbar-width: thin;
}

.film{
  margin-bottom: 10px;
}

.film:hover{
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);


}


