.swiper {
  width: 100%;
  height: 100%;
}

/*css rating*/
.ratingSpan{
  float: right;
  margin-right: 10px;
}
/*css image*/
img{
  width: 240px;
  margin-right: 5px;
}
/*css liste*/
li{
  width: 250px;
}
/*css link*/
a{
  color: black;
}
/*css name*/
.name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 75%;
  display:inline-block;
}
/*css main*/
.main_div{
  background-color: #ebebeb;
  max-width: 1100px;
  width: 100%;
  justify-content: center;
  margin: auto;
  border: #535f6d solid 4px;
  opacity: 0.9;
  box-shadow: 6px 5px 5px black;
  color: black;
}
/*css title*/
h2{
  text-align: center;
}
/*css all liste*/
.ulMenu{
  margin-left: 80px;
  padding-top: 10px;
  overflow-x: scroll;
  display: -webkit-box;
  flex-wrap: inherit ;
  width: 85%;
  list-style: none;
  scrollbar-color: #00c1b8 #535f6d ;
  scrollbar-width: thin;
}
/*css movie*/
.film{
  margin-bottom: 10px;
}
/*css hover movie*/
.film:hover, .film:focus{
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: all .5s;

}


