@import '~swiper/swiper.min.css';
@import '~swiper/modules/navigation/navigation.min.css';
@import '~swiper/modules/pagination/pagination.min.css';

.swiper {
  width: 100%;
  height: 100%;
}

.ratingSpan{
  float: right;
  margin-right: 10px;
}

img{
  width: 240px;
  margin-right: 5px;
}

li{
  width: 250px;
}

.name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 75%;
  display:inline-block;
}
.main_div{
  background-color: #ebebeb;
  max-width: 1100px;
  width: 100%;
  justify-content: center;
  margin: auto;
  border: #535f6d solid 4px;
  opacity: 0.9;
  box-shadow: 6px 5px 5px black;
  color: black;
}
h2{
  text-align: center;
}

.ulMenu{
  margin-left: 80px;
  padding-top: 10px;
  overflow-x: scroll;
  display: -webkit-box;
  flex-wrap: inherit ;
  width: 85%;
  list-style: none;
  scrollbar-color: #00c1b8 #535f6d ;
  scrollbar-width: thin;
}

.film{
  margin-bottom: 10px;
}

.film:hover{
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);


}


