img{
  float: left;
  width: 300px;
  inline : block;
}

.all{
  margin: 1%;
  display: block;
  float: right;
}

h2{
  text-align: center;
  text-transform: uppercase;
}
.commentList{
  padding : 15px;
  float: left;
}

.createComment{
  width: 90%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
}

.noteComment{
  width: 5%;
  margin-left: 5%;
  display: block;
  margin-bottom: 10px;
}

.buttonEnvoie{
  margin-left: auto;
  display: block;
  margin-right: 5%;
}


