<div *ngIf="movie; else movieNotFound" class="all">
    <h2 class="titre">{{movie.nameMovie}}</h2>

    <img src="data:image/jpg;base64, {{movie.imageMovie}}" alt="img movie">
    <div>
      {{movie.release_movie | date:"dd/MM/yyyy"}} - {{movie.movieType}} / {{movie.runtimeMinute}} min / {{movie.filmGenre}} <br />
      De {{movie.director}}
    </div>
    <div *ngIf="rating; else ratingNotFound">
        {{rating.average_rating}} / 100 - {{rating.numVote}} votes
    </div>

    <div>
      <h2>Synopsis</h2>
      {{movie.descriptionMovie}}
    </div>
</div>

<div>
  <form>
    <input id="note" type="number" max="100" min="0" class="noteComment"/>
    <input id="comment" type="text" maxlength="500" class="createComment"/>
    <button class="buttonEnvoie">Envoyer</button>
  </form>
</div>

<div *ngIf="comments; else commentNotFound" class="commentList">
  <li *ngFor="let comment of comments">
    <span *ngFor="let user of users">
      <span *ngIf="comment.idUserRef == user.idUser">
        {{user.nickname}}
      </span>
    </span>
    {{comment.rating}} / 100<br>
    {{comment.commentText}}<br>
    <button (click)="DeleteComment(comment)">supprimer</button>
  </li>
</div>

<ng-template #movieNotFound>
  Movie not found.
</ng-template>
<ng-template #ratingNotFound>
  Rating not found.
</ng-template>
<ng-template #commentNotFound>
  No comment yet.
</ng-template>
