<div *ngIf="movie; else movieNotFound" class="all">


    <h2 class="titre">{{movie.nameMovie}}</h2>

    <img src="data:image/jpg;base64, {{movie.imageMovie}}" alt="img movie">
    <div>
      {{movie.release_movie | date:"dd/MM/yyyy"}} - {{movie.movieType}} / {{movie.runtimeMinute}} min / {{movie.filmGenre}} <br />
      De {{movie.director}}
    </div>
    <div *ngIf="rating; else ratingNotFound">
        {{rating.average_rating}} / 100 - {{rating.numVote}} votes
    </div>

    <div>
      <h2>Synopsis</h2>
      {{movie.descriptionMovie}}
    </div>


</div>

<div *ngIf="comments; else commentNotFound" class="commentList">
    <li *ngFor="let comment of comments">
      <div *ngIf="fetchByIdUser(comment.idUserRef) && user; else userNotFound">
        {{user.nickname}}
        {{comment.rating}} / 100<br>
        {{comment.commentText}}
      </div>
    </li>
</div>
<ng-template #movieNotFound>
  Movie not found.
</ng-template>
<ng-template #ratingNotFound>
  Rating not found.
</ng-template>
<ng-template #commentNotFound>
  No comment yet.
</ng-template>
<ng-template #userNotFound>
  User not found.
</ng-template>
