
.star {
  background-image: url("src/assets/img/star.png");
  background-size: 100%;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius:50%;
  background-color: #f5f5f5;

}
.starfill{
  background-image: url("src/assets/img/star-fill.png");
  background-size: 100%;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius:50%;
  background-color: #f5f5f5;
}

.imgP>img{
  width: 300px;
  inline : block;
  margin-right: 10px;
  text-align: center;
  border: #3a424c solid 4px;
  order: 1;
}
.suppbtn{
  margin-bottom: 5px;
}
.imguser{
  height: 75PX;
  width: 75PX;
  border-radius: 50%;
  border: #008680 solid 4PX;
}
.Puser{
  font-size: 18px;
  color: #008680;
}

.all{
  background-color: #f5f5f5;
  max-width: 1100px;
  width: 100%;
  justify-content: center;
  margin: auto;
  border: #535f6d solid 4px;
  height: 100%;
  padding: 10px;
  color: black;
  box-shadow: 6px 5px 5px black;
}
.movieP{
  padding: 10px;
  float: left;
  width: 100%;
}
.movieP>div{
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.descrptionP{
  padding: 10px;
  order: 2;
  margin-top: 1%;
}
.descrptionP>p{
  background-color: #4a5662;
  color: white;
  text-align: justify;
  padding: 10px;
  box-shadow: 6px 5px 5px black;
  font-size: 18px;

}

.infoP{
  order: 1;
  display: inline-block;
  font-size: 18px;

}

h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;

}
.createCommentAll{
  order: 2;
  bottom: 0;
  width: 100%;

}
.commentList{
  order: 3;
  bottom: 0;
  width: 100%;
}

.createComment{
  width: 90%;
  height: 50px;
  display: block;
  margin: 10px auto 10px 50px;
}

.noteComment{
  width: 5%;
  display: block;
  margin-left: 50px;
}

.buttonEnvoie{
  margin-left: auto;
  display: block;
  margin-right: 5%;
}
.favori{
  width: 20px;
  height: 20px;
}
.commentList>ul{
  list-style: none;
}
.commentList>ul li{
  border-bottom: solid black 2PX;
}
textarea {
  resize: none;
}
.commentList{
  width: 100%;
}
.textcomment{
  text-align: justify;
  font-size: 14px;

  width: 700px;

}


