<DIV class="all">
  <div class="registeruserAll">
    <h2>Inscrivez-vous</h2>
    <p class="testEmail" *ngIf="!testEmail">Adresse Mail déjà existant*</p>
    <form [formGroup]="form" (ngSubmit)="emitUserCreated()">
      <div>
        <p>
          Mail :
        </p>
        <input type="email"  formControlName="mail" placeholder="exemple@mail.com"
               size="30" required >
        <span *ngIf="control('mail')?.dirty && control('mail')?.invalid">
          Mail requis*
        </span>
      </div>
      <div>
        <p>
          Pseudo :
        </p>
        <input size="20"  type="text" formControlName="nickname" required class="petit">
        <span *ngIf="control('nickname')?.dirty && control('nickname')?.invalid">
          Pseudo requis*
        </span>

      </div>
      <div>
        <p>
          Mot de passe(8 characters) :
        </p>
        <input minlength="8" type="password" formControlName="password" required >
        <span *ngIf="control('password')?.dirty && control('password')?.invalid">
          Mot de passe requis*
        </span>
      </div>
      <div>
       <div class="divname">
          <input size="20"  placeholder="Nom" type="text" formControlName="last_name" required class="petit">
       </div>
        <span *ngIf="control('last_name')?.dirty && control('last_name')?.invalid">
          Nom requis*
        </span>
        <div class="divname">
          <input placeholder="Prenom" size="20" type="text" formControlName="first_name" required class="petit">

      </div>
        <span *ngIf="control('first_name')?.dirty && control('first_name')?.invalid">
          Prénom requis*
        </span>
      </div>
      <div >
        <P>
          Image de profile:
        </P>

        <input accept="image/png, image/jpeg" type="file" id="fileInput" (change)="getImage($event)">

      </div>

      <div class="submitbtn">
          <input type="submit" [disabled]="form.invalid" >

      </div>
    </form>
  </div>
</DIV>

