<div *ngIf="movies.length; else movieListEmpty" >
  <ul>
    <li *ngFor="let movie of movies">
      <a routerLink="../detail/{{movie.idMovie}}">
        <img src="data:image/jpg;base64, {{movie.imageMovie}}" alt="movie image">
        <br />
        <div class="name">{{movie.nameMovie}}</div>
        <span *ngFor="let rating of ratings">
          <span *ngIf="movie.idMovie == rating.movieRefId && rating.numVote != 0" class="ratingSpan">
            {{rating.average_rating}} / 100
          </span>
        </span>
      </a>
    </li>
  </ul>
</div>
<ng-template #movieListEmpty>
  <p>movie list is empty.</p>
  <p>You need to create some movie!</p>
</ng-template>



