<div class="all">
  <div class="registeruserAll">
    <h2>Connexion</h2>
    <p class="mailInco" *ngIf="!testEmail">Email ou Mots de passe Incorrect*</p>
    <form [formGroup]="form" (ngSubmit)="emitUserLogin()">
      <div>
        <p>
          Mail :
        </p>
        <input type="text"  formControlName="mail" placeholder="exemple@mail.com"
               size="30" required >
        <p *ngIf="control('mail')?.dirty && control('mail')?.invalid">
          mail requis*
        </p>
      </div>
      <div>
        <p>
          mot de passe :
        </p>
        <input size="30" type="password" formControlName="password" required >
        <p *ngIf="control('password')?.dirty && control('password')?.invalid">
          mot de passe requis*
        </p>

      </div>
      <div class="submitbtn">
        <input type="submit" [disabled]="form.invalid">
      </div>
    </form>
    <p>
      Vous n'avez pas de compte ?
      <a routerLink="../registerhub" class="aInscription">S'inscrire</a>
    </p>
  </div>
</div>
