<h2>Pire film</h2>

<ul class="genre">
  <li (click)="Tri('Action')">Action</li>
  <li (click)="Tri('Animation')">Animation</li>
  <li (click)="Tri('Aventure')">Aventure</li>
  <li (click)="Tri('Biopic')">Biopic</li>
  <li (click)="Tri('Comédie')">Comédie</li>
  <li (click)="Tri('Comédie dramatique')">Comédie dramatique</li>
  <li (click)="Tri('Drame')">Drame</li>
  <li (click)="Tri('Epouvante-horreur')">Epouvante-horreur</li>
  <li (click)="Tri('Famille')">Famille</li>
  <li (click)="Tri('Fantastique')">Fantastique</li>
  <li (click)="Tri('Guerre')">Guerre</li>
  <li (click)="Tri('Historique')">Historique</li>
  <li (click)="Tri('Musical')">Musical</li>
  <li (click)="Tri('Policier')">Policier</li>
  <li (click)="Tri('Romance')">Romance</li>
  <li (click)="Tri('Science Fiction')">Science Fiction</li>
  <li (click)="Tri('Thriller')">Thriller</li>
  <li (click)="Tri('Western')">Western</li>
</ul>

<div *ngIf="ratings.length; else movieListEmpty">
  <ul class="all">
    <div *ngFor="let rating of ratings | paginate :{
    itemsPerPage: 16 ,
     currentPage: page}
" class="allMovie">
      <span *ngFor="let movie of movies" >
        <li *ngIf="movie.idMovie == rating.movieRefId" class="film">
          <a routerLink="../detail/{{movie.idMovie}}">
            <img src="data:image/jpg;base64, {{movie.imageMovie}}" alt="movie image">
            <br />
            <span class="name">{{movie.nameMovie}}</span>
            <span class="ratingSpan">{{rating.average_rating}} / 100</span>
          </a>
        </li>
    </span>
    </div>
  </ul>
</div>

<pagination-controls (pageChange)="page = $event" class="Page"></pagination-controls>

<ng-template #movieListEmpty>
  <p>movie list is empty.</p>
  <p>You need to create some movie!</p>
</ng-template>
