<h2>Top 100</h2>
<div *ngIf="ratings.length; else movieListEmpty">
  <ul>
    <div *ngFor="let rating of ratings" class="all">
      <span *ngFor="let movie of movies" >
        <li *ngIf="movie.idMovie == rating.movieRefId && rating.numVote != 0" class="film">
          <a routerLink="../detail/{{movie.idMovie}}">
            <img src="data:image/jpg;base64, {{movie.imageMovie}}" alt="movie image">
            <br />
            <span class="name">{{movie.nameMovie}}</span>
            <span class="ratingSpan">{{rating.average_rating}} / 100</span>
          </a>
        </li>
    </span>
    </div>
  </ul>
</div>
<ng-template #movieListEmpty>
  <p>movie list is empty.</p>
  <p>You need to create some movie!</p>
</ng-template>
