<h2>Meilleur Film</h2>
<div *ngIf="ratings.length; else movieListEmpty">
  <ul class="all">
    <div *ngFor="let rating of ratings | paginate :{
    itemsPerPage: 16,
     currentPage: page}
" class="allMovie">
      <span *ngFor="let movie of movies" >
        <li *ngIf="movie.idMovie == rating.movieRefId" class="film">
          <a routerLink="../detail/{{movie.idMovie}}">
            <img src="data:image/jpg;base64, {{movie.imageMovie}}" alt="movie image">
            <br />
            <span class="name">{{movie.nameMovie}}</span>
            <span class="ratingSpan">{{rating.average_rating}} / 100</span>
          </a>
        </li>
    </span>
    </div>
  </ul>
</div>

<pagination-controls (pageChange)="page = $event" class="Page"></pagination-controls>

<ng-template #movieListEmpty>
  <p>movie list is empty.</p>
  <p>You need to create some movie!</p>
</ng-template>
