.all{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.allMovie{
  list-style:none;
  display:inline-block;

}
.film{
  margin-left:15px;
  margin-bottom:15px;
}

li{
  width: 250px;
}

.name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
  display:inline-block;
}

.ratingSpan{
  float: right;
  margin-right: 10px;
}

img{
  width: 240px;
}

.film:hover{
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: all .5s;
}

.Page{
  text-align: center;
}

.genre{
  float: left;
  height: 100%;
  min-height: 900px;
  list-style:none;
}

.genre li:hover{
  background-color: #00c1b8;
}

.genre li{
  margin-top: 10px;
}
a{
  color: white;
  font-size: 18px;
}



