<div *ngIf="connectAdmin()" class="adminmovie">
  <h2>Ajout d'une actualité :</h2>
  Nom du film:
  <div class="recherchemovie">
    <input
      type="text"
      id="tempo"
      #inputSearch
      class="form-control"
      (keyup)="search(inputSearch)"
    >
    {{movieName}}
    <div *ngIf="movies">
      <li *ngFor="let movie of searchMovies" class="list-movie">
        {{movie.idMovie}}
        {{movie.nameMovie}}
        <button (click)="select(movie)">Select</button>
      </li>
    </div>

  </div>

  <form [formGroup]="form" (ngSubmit)="emitActuCreated()">
    <div>
      <label>
        News: <textarea type="text" formControlName="newsActu" required class="grand"></textarea>
      </label>
      <div *ngIf="control('newsActu')?.dirty && control('newsActu')?.invalid">
        S'il vous plaît, vous devez fournir une news pour le film.
      </div>
    </div>


    <input type="submit" [disabled]="form.invalid" (click)="endInput()">
  </form>
</div>

<div class="all">
  <ul *ngIf="actus">
    <li *ngFor="let actu of actus">
      <span *ngFor="let movie of movies">
        <span *ngIf=" actu.idMovieRef == movie.idMovie">
          {{movie.nameMovie}}
        </span>
      </span>
      - {{actu.release_actu}} - {{actu.newsActu.slice(0,15) }}...
      <button (click)="emitActuDeleted(actu)">Supprimer</button>
    </li>
  </ul>
</div>
