/*css admin movie*/
.adminmovie{
  width: 100%;
  min-height: 300px;
  height: 100%;
  margin-top: -300px;
}
/*css small input*/
.petit{
  padding-right:5px;
  padding-left:5px;
  border-radius:2px;
  margin-bottom:10px;
  height:20px;
  width:10%;
  line-height:30px;
  border:1px solid #a9a9a9;
  display: grid;
}
/*css large input*/
.grand{
  padding-right:5px;
  padding-left:5px;
  border-radius:2px;
  margin-bottom:10px;
  height:50px;
  width:70%;
  line-height:30px;
  border:1px solid #a9a9a9;
  display: grid;
}
/*css all*/
.all{
  display: block;
}
