/*css for backgroung image*/
.image {
  color: #fff;background-image: url("src/assets/img/background.jpg");
  background-size: 100%;
  background-size: cover;
  padding: 20px;
  margin-bottom: -17px;
}
/*ccs to main*/
.main{
  height:100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display : table;
  width: 100%;
}


