<div *ngIf="connectAdmin()" class="adminmovie">
  <h2>Ajout d'un film</h2>
  <form [formGroup]="form" (ngSubmit)="emitMovieCreated()">
    <div>
      <label>
        Nom du film: <input type="text" formControlName="nameMovie" required class="moyen">
      </label>
      <div *ngIf="control('nameMovie')?.dirty && control('nameMovie')?.invalid">
        S'il vous plaît, vous devez fournir un nom pour le film.
      </div>
    </div>
    <div>
      <label>
        Durée du film: <input type="number" formControlName="runtimeMinute" required class="petit">
      </label>
      <div *ngIf="control('runtimeMinute')?.dirty && control('runtimeMinute')?.invalid">
        S'il vous plaît, vous devez fournir un nombre de minutes pour le film.
      </div>
    </div>
    <div>
    <label>
      Type de film:
      <select formControlName="movieType" class="petit" required>
        <option value="streaming">Streaming</option>
        <option value="en salle">En salle</option>
        <option value="pasDispo">Pas disponible</option>
      </select>
    </label>
    <div *ngIf="control('movieType')?.dirty && control('movieType')?.invalid">
      S'il vous plaît, vous devez fournir un type pour le film.
    </div>
    </div>
    <div>
      <label>
        Description du film: <textarea type="text" formControlName="descriptionMovie" required class="grand"></textarea>
      </label>
      <div *ngIf="control('descriptionMovie')?.dirty && control('descriptionMovie')?.invalid">
        S'il vous plaît, vous devez fournir une description du film.
      </div>
    </div>
    <div>
      <label>
        Image du film: <input type="file" id="fileInput" (change)="getImage($event)" required class="image">
      </label>

    </div>
    <div>
      <label>
        Genre du film:
        <select formControlName="filmGenre" class="petit" required>
          <option value="Action">Action</option>
          <option value="Animation">Animation</option>
          <option value="Aventure">Aventure</option>
          <option value="Biopic">Biopic</option>
          <option value="Comédie">Comédie</option>
          <option value="Comédie dramatique">Comédie dramatique</option>
          <option value="Drame">Drame</option>
          <option value="Epouvante-horreur">Epouvante-horreur</option>
          <option value="Famille">Famille</option>
          <option value="Fantastique">Fantastique</option>
          <option value="Guerre">Guerre</option>
          <option value="Historique">Historique</option>
          <option value="Musical">Musical</option>
          <option value="Policier">Policier</option>
          <option value="Romance">Romance</option>
          <option value="Science Fiction">Science Fiction</option>
          <option value="Thriller">Thriller</option>
          <option value="Western">Western</option>
        </select>
      </label>
      <div *ngIf="control('filmGenre')?.dirty && control('filmGenre')?.invalid" >
        S'il vous plaît, vous devez fournir un genre pour le film.
      </div>
    </div>
    <div>
      <label>
        Réalisateur: <input type="text" formControlName="director" required class="moyen">
      </label>
      <div *ngIf="control('director')?.dirty && control('director')?.invalid">
        S'il vous plaît, vous devez fournir un réalisateur pour le film.
      </div>
    </div>
    <div>
      <label>
        Date de sortie du film: <input type="text" formControlName="release_movie" required class="petit">
      </label>
      <div *ngIf="control('release_movie')?.dirty && control('release_movie')?.invalid">
        S'il vous plaît, vous devez fournir une date de sortie du film.
      </div>
    </div>
    <input  type="submit" [disabled]="form.invalid" *ngIf="rating == false" >
  </form>
  <input type="submit" *ngIf="rating" value="Click to continue" (click)="ratingSet()">
  <h2>Recherche d'un film :</h2>
  <div class="recherchemovie">
    <input
      type="text"
      id="tempo"
      #inputSearch
      class="form-control"
      (keyup)="search(inputSearch)"
    >




    <div *ngIf="movies">
      <li *ngFor="let movie of searchMovies" class="list-movie">

        {{movie.idMovie}}
        {{movie.nameMovie}}
        <button (click)="emitMovieDeleted(movie)">Supprimer</button>
        <button (click)= "emitMovieUpdated(movie, form)">Changer</button>
      </li>
    </div>


  </div>
</div>

