.image{
  width: 200px;
  border: #3a424c solid 5px;
}
.image:hover{
  border: #ff3b3b solid 5px;
}

ul{
  list-style: none;
  float: left;


}
ul>li{
  margin-bottom: 30px;
  margin-right: 50PX;
  width: 200px;
  display:inline-block;

}
h2{
  text-align: center;

}
a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  background-color: #3a424c;
  opacity: 0.8 ;
  margin: auto 10px auto auto;
  padding-top: 3px;
}
.movienamesp{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  display:inline-block;
  width: 170px;
}
.btnremove{
  background-color: #3a424c;
  color: white;
  border-radius: 50%;
}
.btnremove:hover{
  background-color: #ff3b3b;
  color: black;
}

a:hover{
  background-color: #ff3b3b;
  color: black;
}

.movieF{
  list-style-type: none;
  display: flex;
  padding: 0;
  min-height: 400px;
  min-height: 400px;
  height: 100%;
  width: 100%;

}
