<h2>Vos favoris :</h2>
<div *ngIf="favories; else favorieNotFound" class="movieF">
  <ul>
    <li *ngFor="let favorie of favories" >
      <span *ngFor="let movie of movies">
        <span *ngIf="favorie.idMovieRef == movie.idMovie">
          <a routerLink="../detail/{{movie.idMovie}}">
            <img src="data:image/jpg;base64, {{movie.imageMovie}}" alt="movie image" class="image">
            <label class="movienamesp">
              {{movie.nameMovie}}
            </label>


          </a>
          <button class="btnremove" (click)="emitFavoriDeleted(favorie)">X</button>
        </span>
      </span>

    </li>
  </ul>
</div>


<ng-template #favorieNotFound>
  Vous n'avez aucun film en favoris
</ng-template>
