
<h2>
  Notification
</h2>
<div *ngIf="favories" class="main">
  <div>
    <ul *ngIf="actus">
      <li *ngFor="let actu of actus" class="pnews">
        <span *ngFor="let favorie of favories">
          <span *ngIf="actu.idMovieRef == favorie.idMovieRef && DeleteNot.includes(actu.idActu) == false">
            <p>
              <span *ngIf="seeNot.includes(actu.idActu) == false">New*</span>
              <span *ngFor="let movie of movies">
                <span *ngIf=" actu.idMovieRef == movie.idMovie">
                  {{movie.nameMovie}}
                </span>
              </span> - {{actu.release_actu}}
              <br>
              <button (click)="saveDelete(actu.idActu)" class="btnsup">X</button>
              <span *ngIf="seeNot.includes(actu.idActu) == false">
                <button (click)="saveSee(actu.idActu)" class="btnvue">V</button>
              </span >
              <br>
              <br>
              {{actu.newsActu}}
          </p>


          </span>
        </span>
      </li>
    </ul>
  </div>
</div>
